/ Link to the "First" page
  - available local variables
    url          : url to the first page
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote
/li.first class="#{current_page.first? ? 'disabled' : ''}"
  - unless current_page.first?
    == link_to raw(t 'views.pagination.first'), url, :remote => remote
  - else
    span = raw(t 'views.pagination.first')
'
