/ Link to the "Next" page
	- available local variables
    url          : url to the next page
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote
li.next class="#{current_page.last? ? 'disabled' : ''}"
  - unless current_page.last?
    == link_to raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote
  - else
    span = raw(t 'views.pagination.next')
'
