- title "#{@attempt.disk.category.name} - результат для #{@attempt.disk.name_in_lists}"

h2 Результаты тестирования по #{@attempt.disk.category.name}

- if @user
  h3 Результаты пользователя #{@user.full_name}

- if params[:finish]
  p.disk-finish-results Правильных ответов #{attempt_results(@attempt)}.

.table-responsive
  table#attempt-info-table.table
    thead
      tr
        th
        th Номер
        th Вопрос
        th Ответ
        th Правильный ответ
    tbody
      - @attempt.disk.questions.each_with_index do |question, index|
        tr
          td class="#{answer_class(question, @attempt)}"
          td = index + 1
          td = link_to question.text, view_disk_question_path(question, @attempt)
          td = answer_text_for_question(question, @attempt)
          td = question.correct_answer.text

.attempt-nav-links
  = link_to '< Посмотреть историю сдачи теста', history_category_disk_path(@attempt.disk.category, @attempt.disk)

  a href="#{test_category_disk_path(@attempt.disk.category, @attempt.disk, 1)}"
    span.glyphicon.glyphicon-repeat
    | Повторить тест

  - if params[:finish]
    = next_disk_link(@attempt.disk, class: 'pull-right')
