- title "#{@disk.category.name} - история для #{@disk.name_in_lists}"

h2 Результаты тестирования

- if @attempts.blank?
  p
    | Вы еще не отвечали на вопросы этого диска.
    = link_to 'Начать тестирование', test_category_disk_path(@disk.category, @disk, 1)
- else
  table.table
    thead
      tr
        th Начало
        th Конец
        th Результат
        th
    tbody
      - @attempts.each do |attempt|
        tr
          td = attempt.created_at
          td = attempt.completed_at
          td = attempt_results attempt
          td = link_to 'Детально', attempt_path(attempt)
