- title "#{@category.name} (по дискам)"

h1 #{@category.name}

- if admin?
  .admin-action = link_to 'Редактировать категорию', edit_admin_category_path(@category)

- unless @disks.empty?
  .row : .disks-list : ul
    - @disks.each do |disk|
      li
        - if @scores
          - if @scores[disk.id] == disk.questions.count
            span.badge.badge-success data-placement="right" data-original-title="Вы успешно ответили на все вопросы"
              = link_to '', history_category_disk_path(disk.category, disk), class: 'glyphicon glyphicon-ok'
          - elsif @scores[disk.id] && disk.questions.count
            span.badge data-placement="right" data-original-title="#{@scores[disk.id]} успешно отвеченных вопросов"
              = link_to disk_score_percentage(@scores[disk.id], disk), history_category_disk_path(disk.category, disk)

        = link_to disk, category_disk_path(disk.category, disk)

  = paginate @disks
