- title "#{@question.category.name} (#{@question.disk.name_in_lists})"

.disk-pagination
  = paginate questions_array(@question.disk),\
        param_name: :question_number,\
        window: 5,\
        theme: 'questions_pagination_theme',\
        first_digit: true

h1 Вопрос #{question_number(@question)} из #{total_questions(@question)}
= render layout: 'training/shared/question_general', locals: {question: @question, disk: true} do
  = semantic_form_for @user_answer, url: answer_disk_question_path(@question), method: :post do |f|
    = f.input :answer, as: :radio, collection: @question.answers, label_method: :text, member_label: :text, label: false
    .buttons
      = f.submit 'Ответить на вопрос', class: 'btn btn-primary'
      = link_to 'Завершить тест',  finish_attempt_path(@user_answer.user_attempt), class: 'btn btn-default btn-xs', id: 'finish-link'
