- title "#{@question_view_info.question.category.name} - просмотр вопроса №#{@question_view_info.question.id}"

h1 Вопрос #{question_number(@question_view_info.question)} из #{total_questions(@question_view_info.question)}

= render layout: 'training/shared/question_view', locals: {view_info: @question_view_info, disk: true} do
  = requested_attempt_link
