.auth-form
  h2 Повторно отправить инструкции по активации

  = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), \
      :html => { :method => :post, role: 'form' }) do |f|
    = devise_error_messages!

    div.form-group
      = f.label :email, class: 'control-label'
      = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'my_email@mail.ru'

    div.form-group
      = f.submit 'Получить подтверждение', class: 'btn btn-primary'

  = render 'devise/shared/links'
