h2
  | Профиль пользователя
div.row
  div.col-md-6
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), \
        :html => { :method => :put, role: 'form' }) do |f|
      = devise_error_messages!
      div.form-group
        = f.label :email, class: 'control-label'
        = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        div
          | Сейчас ожидаем подтверждения: #{resource.unconfirmed_email}
      div.form-group
        = f.label :first_name, class: 'control-label'
        = f.text_field :first_name, class: 'form-control', placeholder: 'Введите имя'
      div.form-group
        = f.label :last_name, class: 'control-label'
        = f.text_field :last_name, class: 'form-control', placeholder: 'Введите фамилию'
      div.form-group
        = f.label :nickname, class: 'control-label'
        = f.text_field :nickname, class: 'form-control', placeholder: 'Введите псевдоним'
      br
      div.panel.panel-default
        div.panel-heading
          h4
            a data-toggle='collapse' href='#collapsePassword' Изменить пароль
          div.panel-collapse.collapse#collapsePassword (class="#{'in' if has_password_errors? resource  }")
            div.panel-body#passwords
              /= devise_error_messages! if has_password_errors? resource
              div.form-group
                = f.label :password, class: 'control-label'
                = f.password_field :password, :autocomplete => 'off', class: 'form-control'
              div.form-group
                = f.label :password_confirmation, class: 'control-label'
                = f.password_field :password_confirmation, class: 'form-control'
              div.form-group
                = f.label :current_password, class: 'control-label'
                = f.password_field :current_password, class: 'form-control'
                p.help-block Укажите Ваш текущий пароль для его замены на новый

      div= f.submit 'Обновить', class: 'btn btn-primary'

  div.right.col-md-6
    /div.avatar-block
      p.avatar-img
        = gravatar_for original_resource
      p.avatar-desc
        - if original_resource.email
          | Мы используем сервис Gravatar для отображения Вашей фотографии.
        - else
          | Ваша фотография получена из Twitter. Чтобы ее сменить укажите свой email или смените ее в Twitter.
      div.clearfix
    div
      h4 Вы можете входить через:
      ul
        - current_user.identities.each do |identity|
          li
            | #{identity.provider.to_s.titleize} как #{identity.user_representation}.
            =link_to ' Отключить', identity, :data => { :confirm => 'Вы уверены?' }, method: :delete

      h4 Подключить новые аккаунты для входа:
      = @prefix = 'Подключить' ; render 'devise/shared/omniauth_links'

div.row
  div.col-md-12
    h3 Удаление учетной записи
    p Если Вы больше не хотите пользоваться сервисом, то можете полностью удалить свою учетную запись.
    p При этом будут также удалены все результаты тестирования, оплаты и прочие данные без возможности восстановления.
    = button_to 'Удалить учетную запись', registration_path(resource_name), \
      class: 'btn btn-danger', :data => { :confirm => 'Вы уверены, что хотите полностью удалить учетную запись?' }, \
      :method => :delete
br
div.row
  div.col-md-12
    = link_to 'Назад (не применять изменения)', :back
br
  