.auth-form
  h2 Регистрация

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {role: 'form'}) do |f|
    = devise_error_messages!

    div.form-group
      = f.label :email, class: 'control-label'
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'my_email@mail.ru'

    div.form-group
      = f.label :password, class: 'control-label'
      = f.password_field :password, class: 'form-control', placeholder: 'Ваш пароль'

    div.form-group
      = f.label :password_confirmation, class: 'control-label'
      = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Подтверждение пароля'

    div = f.submit 'Зарегистрироваться', id: 'submit-registration', class: 'btn btn-primary'

  = render 'devise/shared/links'

  = render 'devise/shared/agreement_mention'
