.registration-links
  - if controller_name != 'sessions'
    = link_to 'Я уже зарегистрировался (войти)', new_session_path(resource_name)
    br

  - if devise_mapping.registerable? && controller_name != 'registrations'
    = link_to 'Зарегистрироваться', new_registration_path(resource_name)
    br

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to 'Забыли пароль?', new_password_path(resource_name)
    br

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to 'Не получили письмо для подтверждения почты?', new_confirmation_path(resource_name)
    br

  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to 'Не получили инструкций по разблокировке?', new_unlock_path(resource_name)
    br

  .social-links-block
    h3 #{controller_name != 'registrations' ? 'Войти' : 'Зарегистрироваться'} через социальные сети
    = render 'devise/shared/omniauth_links'
