- if devise_mapping.omniauthable?
  ul.connect-providers
    - resource_class.omniauth_providers.each do |provider|
      li class="connect-#{provider.to_s}"
        a href="#{omniauth_authorize_path(resource_name, provider)}" title=login_provider_text(provider)
          = image_tag "#{image_path("providers/#{provider.to_s}.svg")}", {class: 'img-responsive'}
          = provider.to_s.titleize
