<%
if question
  identifier ||= question.code
  title ||= "#{question.category.name.truncate(30)}: #{question.text.truncate(70)}" if question.text
  url ||= category_questions_url(question.category, anchor: "!/#{question.id}")
end
%>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '<%= AppSettings.disqus_shortname %>';
    <% %w(identifier title url).each do |param| %>
        <% if binding.local_variable_defined? param %>
            var disqus_<%= param %> = '<%= binding.local_variable_get(param) %>';
        <% end %>
    <% end %>


    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
