- if admin?
  .admin-action
    = link_to 'Редактировать вопрос', edit_admin_question_path(question), target: '_blank'
    = link_to 'Редактировать ответы', admin_answers_path('q[question_id_equals]' => question.id), target: '_blank'
    - if local_assigns[:view]
      = link_to 'Перейти к вопросу', (local_assigns[:disk] && disk) ? answer_disk_question_path(question) : answer_questions_question_path(question)
    - else
      = link_to 'Просмотр вопроса', (local_assigns[:disk] && disk) ? view_disk_question_path(question) : view_questions_question_path(question)

p = question.text

- if question.image
  div : img src="#{File.join(AppSettings.IMG_PATH, question.image)}"

= yield

.panel.panel-default#explanation
  - if question.explanation.blank?
    - if admin?
      .panel-body
        = link_to 'Добавить комментарий', edit_admin_question_path(question), target: '_blank'
  - else
    .panel-heading
      .panel-title
        a data-toggle='collapse' href='#explanationBody'
          | Подсказка к вопросу
    .panel-collapse.collapse#explanationBody
      .panel-body
        == question.explanation

- if local_assigns[:no_disqus]
  p Чтобы увидеть пользовательские комментарии, необходимо ответить на вопрос.
- else
  = render 'training/shared/disqus', question: question
