= render layout: 'training/shared/question_general', locals: {question: view_info.question, view: true, disk: local_assigns[:disk] && disk} do

  .disk-view-question
    table
      - view_info.answers.each_with_index do |answer, index|
        tr class="#{answer.correct? ? 'correct-answer' : ('incorrect-answer' if view_info.answer_requested? answer)}"
          td #{index + 1}.
          td
            - if answer.correct?
              span.glyphicon.glyphicon-ok
            - elsif view_info.answer_requested? answer
              span.glyphicon.glyphicon-remove
          td = answer.text

    p.navigation = yield