// See http://geekswithblogs.net/MightyZot/archive/2013/11/12/responsive-inline-elements-with-twitter-bootstrap.aspx

.hidden-inline-xs, .hidden-inline-sm, .hidden-inline-md, .hidden-inline-lg {
  display: inline !important;
}

@media (max-width:767px)
{
  .hidden-inline-xs, .hidden-inline-sm.hidden-inline-xs, .hidden-inline-md.hidden-inline-xs, .hidden-inline-lg.hidden-inline-xs {
    display: none !important;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .hidden-inline-xs.hidden-inline-sm, .hidden-inline-sm, .hidden-inline-md.hidden-inline-sm, .hidden-inline-lg.hidden-inline-sm {
    display: none !important;
  }
}
@media (min-width:992px) and (max-width:1199px) {
  .hidden-inline-xs.hidden-inline-md, .hidden-inline-sm.hidden-inline-md, .hidden-inline-md, .hidden-inline-lg.hidden-inline-md {
    display: none !important;
  }
}
@media (min-width:1200px) {
  .hidden-inline-xs.hidden-inline-lg, .hidden-inline-sm.hidden-inline-lg, .hidden-inline-md.hidden-inline-lg, .hidden-inline-lg {
    display: none !important;
  }
}
.visible-inline-xs, .visible-inline-sm, .visible-inline-md, .visible-inline-lg {
  display: none !important;
}
@media (max-width:767px)
{
  .visible-inline-xs, .visible-inline-sm.visible-inline-xs, .visible-inline-md.visible-inline-xs, .visible-inline-lg.visible-inline-xs {
    display: inline !important;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .visible-inline-xs.visible-inline-sm, .visible-inline-sm, .visible-inline-md.visible-inline-sm, .visible-inline-lg.visible-inline-sm {
    display: inline !important;
  }
}
@media (min-width:992px) and (max-width:1199px) {
  .visible-inline-xs.visible-inline-md, .visible-inline-sm.visible-inline-md, .visible-inline-md, .visible-inline-lg.visible-inline-md {
    display: inline !important;
  }
}
@media (min-width:1200px) {
  .visible-inline-xs.visible-inline-lg, .visible-inline-sm.visible-inline-lg, .visible-inline-md.visible-inline-lg, .visible-inline-lg {
    display: inline !important;
  }
} 