@mixin tooltip-bg($color) {
  & + .tooltip.top > .tooltip-inner {
    background-color: $color;
  }
  & + .tooltip.top > .tooltip-arrow {
    border-top-color: $color;
  }
  & + .tooltip.right > .tooltip-inner {
    background-color: $color;
  }
  & + .tooltip.right > .tooltip-arrow {
    border-right-color: $color;
  }
  & + .tooltip.bottom > .tooltip-inner {
    background-color: $color;
  }
  & + .tooltip.bottom > .tooltip-arrow {
    border-bottom-color: $color;
  }
  & + .tooltip.left > .tooltip-inner {
    background-color: $color;
  }
  & + .tooltip.left > .tooltip-arrow {
    border-left-color: $color;
  }
}

@mixin tooltip-color($color) {
  & + .tooltip > .tooltip-inner {
    color: $color;
  }
}
