.auth-form
  h2 Забыли пароль?

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), \
      :html => { :method => :post, role: 'form' }) do |f|
    = devise_error_messages!

    div.form-group
      = f.label :email, class: 'control-label'
      = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'my_email@mail.ru'

    div.form-group
      = f.submit 'Отправить инструкции по восстановлению на email', class: 'btn btn-primary'

  = render 'devise/shared/links'
