- cache(@categories)
  .row
    .col-md-6
      = image_tag 'cubes_main_500.png', class: 'img-responsive img-rounded'
    .col-md-6
      h1 Тестирование 1С:Профессионал
      p Сервис онлайн подготовки к тестированию 1С:Профессионал предоставляет удобный способ повысить шансы успешной сдачи
        официальной сертификации по продуктам фирмы 1С. Вы можете проходить все пробные тесты, анализировать ошибки и
        улучшать свои результаты.
      = link_to 'Начать подготовку', categories_path, class: 'btn btn-primary btn-lg'

  hr

  .row
    .col-lg-12
      h2 Направления для подготовки
    .col-lg-12
      /.well.text-center
        /ul.nav.nav-pills.nav-justified
          - @categories.each do |category|
            li = link_to category.name, category_path(category)
      - slice = 3
      - @categories.each_slice(slice) do |group|
        div class="col-md-#{12 / slice}"
          ul.nav.nav-pills.nav-stacked
            - group.each do |category|
              li = link_to category.name, category_path(category)

  hr

  .row
    .col-lg-4
      h2 Что это?
      p Сертификат “1С:Профессионал” является официальным подтверждением того, что его владелец может
        эффективно использовать в своей работе весь спектр возможностей наиболее распространенных программ автоматизации
        бухгалтерского, оперативного торгово-складского, управленческого учета и расчета заработной платы.
        Маленький плюсик в Вашем резюме и первая ступень в системе сертифицирования 1С.
        После него Вы сможете получить сертификат “1С:Специалист”.
      /a class="btn btn-default" href="#" Some info

    .col-lg-4
      h2 Кому это нужно?
      ol
        li Это нужно Вам, если Вы работаете или планируете работать с 1С.
        li Вашему работодателю, чтобы быть уверенным в Вашей компетенции.
        li Вашему самолюбию... Всегда приятно, когда есть чем похвастаться.
      /a class="btn btn-default" href="#" Some info

    .col-lg-4
      h2 Как подготовиться?
      ol
        li На нашем сайте, пройдя #{link_to('регистрацию', new_user_registration_path)}
        li
          ' На сайте 1С с помощью
          a> href="http://edu.1c.ru/dist-training/" target="_blank" учебного тестирования
          | (всего около 15 вопросов по каждому направлению)
      /a class="btn btn-default" href="#" Some info
