markdown:
  # Пользовательское соглашение

  Настоящее пользовательское соглашение (далее - "Соглашение") регламентирует отношения между администрацией
  сервиса "Тестирование 1С:Профессионал" (далее - "Администрация") и физическим лицом (далее - "Пользователь")
  сетевого проекта, который предоставляет возможность Пользователю проходить подготовку
  к тестированию "1С:Профессионал" (далее - Сайт).

  1. Пользователь обязан иметь действующую подписку на "ИТС: Проф" для работы с Сайтом.

  2. Администрация не несет ответственности за любые убытки и неудобства,
  нанесенные третьей стороне в случае отсутсвия у Пользователя подписки.

  3. Материалы на Сайте представлены в том виде, в котором они выложены на дисках "ИТС: Проф".
  Администрация будет рада рассмотреть все пожелания по исправлению выявленных ошибок и неточностей в тестах,
  но не несет ответственности за корректность предоставленной информации.

  4. Прохождение тестирования на Сайте не гарантирует Пользователю успешной сдачи тестирования в фирме "1С".

  5. Пользователь принимает тот факт, что возможны периодические перерывы в доступности сайта.
