- title 'Вопросы и ответы'

.faq
  markdown:
    # Вопросы и ответы

    ## Общие вопросы

    ### Подготовка на сервисе 1c-test.ru платная?

    Вы можете использовать сервис совершенно бесплатно!

    С одной стороны, можно готовиться к сертификации в режиме "По дискам" без каких либо ограничений.

    С другой - при тестировании "По вопросам" можно тщательно исследовать каждый вопрос перед тем, как дать ответ. Если отвечать только правильно, то баллы не только не закончатся, но еще и будут накапливаться!

    ### Что такое "Тестирование по дискам"?

    Тестирование по дискам - традиционный метод подготовки к экзамену. Все вопросы собраны в группы по 14 штук в соответствии с выпусками дисков ИТС. С 2013 года набор таких вопросов не пополнялся.

    ### Что такое "Тестирование по вопросам"?

    Тестирование по вопросам предоставляет больше возможностей для увлектальной и более эффективной подготовки к экзамену. Для его использования необходимо иметь положительный баланс баллов.

    <h2 name="points-system">Система баллов</h2>

    ### Для чего нужны баллы?

    Сейчас баллы списываются при некорректном ответе на вопросы в режиме "По вопросам". Если баллы закончатся, Вы
    не сможете готовиться в этом режиме, пока не пополните баланс баллов.

    В дальнейшем баллы потребуются также для использования новых функций сервиса.

    ### Где можно посмотреть баланс баллов?

    Баланс баллов отображается на каждой странице сайта в правом верхнем углу, если Вы авторизованы (вошли на сайт).

    ### За что мне начисляют баллы?

    Вы можете получить баллы в следующих случаях:

    1. За регистрацию на сервисе - **50 баллов**.

    2. При начале освоения нового направления (например, "1С: Платформа") - **50 баллов**.

    3. При правильном ответе на 5 вопросов подряд - **5 баллов**.

    ### Я корректно ответил на 5 вопросов, но мне не начислили баллы. Почему?

    Для получения баллов за корректные ответы необходимо, чтобы для каждого из ответов выполнялись следующие условия:

    1. До этого на каждый из вопросов не было дано ответа или последний ответ был некорректный.

    2. Предыдущий некорректный ответ был дан более суток назад.

    То есть, если Вы уже правильно отвечали на некоторый вопрос до этого (или ответили неправильно, но сегодня), то такой ответ не учитывается при начислении баллов.

    ### За что с меня списывают баллы?

    Каждый раз, когда Вы даете неправильный ответ при тестировании по вопросам, система списывает с Вашего баланса 1 балл.


.faq-epilog
  markdown:
    # Если Вы не нашли здесь ответа на свой вопрос

    Задайте нам его через [форму обратной связи](#{feedback_path}).

    Мы обязательно ответим!
