$footer-color: #f5f5f5;
/* Set the fixed height of the footer here */
#footer {
  min-height: $footer-height;
  background-color: $footer-color;
  font-size: 0.9em;

  @mixin br-after {
    content:"\A"; white-space:pre;
  }

  .footer-credits {
    @extend .container;

    @media(min-width: $screen-sm) {
      margin-top: -30px;
    }

    padding {
      left: 15px;
      right: 15px;
    }
    .credit {
      margin: 5px 0 20px 0;
      text-align: center;
    }
    .socials {
      a {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: 5px;
      }
      &:after{
        @media(max-width:320px) {
          @include br-after;
        }
      }
    }
    .copyright {
      &:after{
        @media(max-width:320px) {
          @include br-after;
        }
      }
    }
  }
}

.footer-nav {
  @extend .navbar;
  margin-bottom: 5px;
  min-height: 0px;
  padding: 0;
  font-size: 0.95em;
  ul {
    @extend .nav;
    @extend .navbar-nav;
    margin-left: -15px;
    & > li.active > a {
      background-color: darken($footer-color, 15%);
    }
    a {
      padding-top: 20px !important;
      padding-bottom: 5px;
    }
  }
}
