// See http://compass-style.org/help/tutorials/spriting/

.icons-disqus-spinner {
  display: block;
  margin: 20px auto;
  width: 29px;
  height: 29px;
  animation: disqus-embed-spinner .7s infinite linear;
  -webkit-animation: disqus-embed-spinner .7s infinite linear;
}
