/* If icons are not generated see https://github.com/Compass/compass-rails/issues/52 */
@import "icons/*.png";
@include all-icons-sprites;

@font-face{font-family:'Norican';font-style:normal;font-weight:400;src:local("Norican Regular"), local("Norican-Regular"), url(http://themes.googleusercontent.com/static/fonts/norican/v1/WG5BKl7e-3DIN75Tz4bREg.woff) format("woff")}

.navbar-login-link {text-decoration: underline;}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.no-js {
  .js-only {
    @extend .hidden;
  }
}

@keyframes disqus-embed-spinner{
  0%{ transform:rotate(0deg) }
  100%{ transform:rotate(360deg) }
}
@-webkit-keyframes disqus-embed-spinner{
  0%{ -webkit-transform:rotate(0deg) }
  100%{ -webkit-transform:rotate(360deg) }
}

#recent-comments {
  img {
    display: block;
    margin: 20px auto;
  }
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -1*$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height+30;
}

.navbar-brand {
  margin-top: -6px;
  margin-left: 25px !important;
  padding-bottom: 0;
  padding-top: 21px;
  margin-right: 20px;

  .badge-rc {
    font-family: 'Norican',fantasy;
    font-size: 13px;
    vertical-align: super;
    text-shadow: 1px 1px 2px black;
    margin-left: 5px;
  }
}

#logo-img {
  position: absolute;
  max-height: 35px;
  padding-left: 10px;
  top: 3px;
}

$bottomline-top: 20px;
$bottomline-bottom: 0px;
$bottomline-equal: 10px;

.navbar-text {
  margin-top: $bottomline-top;
  margin-bottom: $bottomline-bottom;
}

.navbar-nav > li > a {
  padding-top: $bottomline-top;
  padding-bottom: $bottomline-bottom;
}

@media (max-width: 767px) {
  .navbar-text {
    margin-top: $bottomline-equal;
    margin-bottom: $bottomline-equal;
  }

  .navbar-nav > li > a {
    padding-top: $bottomline-equal;
    padding-bottom: $bottomline-equal;
  }
}

.navbar-nav {
  a {
    font-size: 1.1em;
  }
}

.navbar-toggle {
  background-color: white;
}

.admin-action {
  @extend .well;
  @extend .well-sm;

  & > a {
    padding-left: 30px;
    &:first-child {
      padding-left: 0;
    }
  }
}

.badge-success {
  @extend .badge;
  color: $btn-success-color;
  background-color: $btn-success-bg;
}

@media (max-width: 767px) {
  #reformal_tab {
    display: none !important;
  }
}

@media (max-width:480px) {
  .navbar-brand {
    float: left !important;
  }
}

.container {
  ol {
    list-style-type: decimal;
  }
}

#adsense {
  overflow: hidden;
  text-align: center;
}
