// Place all the styles related to the Training::Disks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.disk-pagination {
  text-align: center;

  .pagination {
    .gap {
      @extend .hidden-inline-xs;
    }

    @for $i from 3 through 10 {
      .other-#{$i} { @extend .hidden-inline-xs; }
    }
  }
}

.disks-list {
  @extend .col-md-7;
  ul {
    @extend .list-group;
    li {
      @extend .list-group-item;
      .badge {
        cursor: default;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .tooltip {
    width: 350px;
    $tooltip-bg-color: $gray-light;
    .tooltip-inner {
      background-color: $tooltip-bg-color;
    }
    .tooltip-arrow {
      border-right-color: $tooltip-bg-color;
    }
  }
}

form.user_answer {
  margin-bottom: 40px;

  .buttons {
    margin-top: 20px;
  }

  .required label {
    font-weight: normal;
  }

  #finish-link {
    margin-left: 40px;
  }
}

#attempt-info-table {
  tr {
    td:first-child {
      width: 10px;
    }
    td {
      max-width: 300px;
      white-space: normal !important;
    }
  }
}

.attempt-nav-links {
  > a {
    margin-left: 20px;
    &:first-child {
      margin-left: 0px;
    }
  }
}

.disk-view-question {
  table {
    margin-bottom: 20px;
    tr {
      td {
        vertical-align: top;
        padding-right: 10px;
        .glyphicon-ok { color: $brand-success; }
        .glyphicon-remove { color: $brand-danger; }

        &:first-child {
          text-align: right;
        }
      }
    }
  }
  .navigation { margin-bottom: 20px; }
}
