// Place all the styles related to the training/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.completion {
  width: 30px;
  height: 30px;
  display: inline-block;
}

#question-error-explanation {
  color: red;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.question-instance {
//  max-width: 300px;
//  float: left;
  padding: 10px;
  border: 1px solid #C9C9C9;
//  background-color: #F5F5F5;
  margin: 10px 0;
}

.question-info {
  .last-answer{
    font-size: 0.8em;
    color: #999999;
  }

  span {
    line-height: 30px;
  }
}
