.auth-form
  h2 Вход

  = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {role: 'form'}) do |f|
    div.form-group
      = f.label :email, class: 'control-label'
      = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'my_mail@mail.ru'

    div.form-group
      = f.label :password, class: 'control-label'
      = f.password_field :password, class: 'form-control', placeholder: 'Ваш пароль'

    - if devise_mapping.rememberable?
      div.checkbox
        = f.label :remember_me
          = f.check_box :remember_me
          | Запомнить меня

    div = f.submit 'Войти', class: 'btn btn-primary'

  = render 'devise/shared/links'

  = render 'devise/shared/agreement_mention'
