- title 'Пополнение баланса баллов'

h1 Пополнение баланса баллов

= form_tag 'https://money.yandex.ru/quickpay/confirm.xml', target: '_blank', method: :post, id: 'points-income', \
            role: 'form', 'data-rate'=> AppSettings.POINTS_RATE, data: {'no-turbolink'=>true} do |f|
  = hidden_field_tag :receiver, AppSettings.YANDEX_MONEY_NUMBER
  = hidden_field_tag :formcomment, '1c-test.ru: Баллы'
  = hidden_field_tag 'short-desc', '1c-test.ru: Баллы'
  = hidden_field_tag 'quickpay-form', 'shop'
  = hidden_field_tag :targets, "Пополнение баллов на 1c-test.ru для пользователя #{current_user.full_name}"
  = hidden_field_tag :label, {user: current_user.id, timestamp: Time.now.utc}.to_json
  .form-group
    = label_tag(:amount, 'Количество баллов')
    .field.input-group#PaymentStep1
      = number_field_tag :amount, AppSettings.DEFAULT_POINTS_INCOME, class: 'form-control', disabled: true
      span.input-group-addon баллов
  .form-group
    = label_tag(:sum, 'Сумма к оплате')
    .field.input-group#PaymentStep2
      = text_field_tag :sum, AppSettings.DEFAULT_POINTS_INCOME * AppSettings.POINTS_RATE, class: 'form-control', readonly: true
      span.input-group-addon рублей

  .form-group
    = label_tag(:paymentType, 'Форма оплаты')
    .field
      .btn-group#PaymentStep3 data-toggle="buttons"
        label.btn.btn-default.active
          input type="radio" name="paymentType" value="PC" checked=true
            span.icons-payment-yamoney
        label.btn.btn-default
          input type="radio" name="paymentType" value="AC"
            span.icons-payment-card

  .form-group
    .field.col-sm-offset-2
      = submit_tag 'Пополнить', class: 'btn btn-primary', id: 'PaymentStep4'

  markdown:
    Пополнение баланса баллов производится через систему Яндекс.Деньги. Вы можете произвести оплату
    со своего счета Яндекс.Денег или с карты международных платежных систем Visa или MasterCard.

    Если у Вас возникли вопросы по оплате, обязательно пишите нам через [форму обратной связи](#{feedback_path}).

  #payments-joyride
    ol#PaymentHints
      li data-target="#PaymentStep1" data-title="Количество баллов" Сначала укажите количество баллов, которое Вы хотите зачислить на счет
      li data-target="#PaymentStep2" data-title="Сумма для оплаты" Затем проверьте сумму, которую необходимо оплатить за пополнение счета
      li data-target="#PaymentStep3" data-title="Форма оплаты" Выбирете удобный способ оплаты: счет сервиса Яндекс.Деньги или банковская карта
      li data-target="#PaymentStep4" data-title="Проверка и оплата" Еще раз проверьте все введенные данные и нажмите кнопку "Оплатить". Вы будете направлены на сайт платежной системы. Вскоре после успешной оплаты Ваш баланс баллов будет пополнен

    a.btn.btn-sm.btn-info#payments-startride href="#joyride" Посмотреть, как платить
