/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require nprogress
 *= require nprogress-bootstrap
 *= require formtastic-bootstrap
 */

/* Bootstrap customization */
$site-main-color: #F0C000;

$brand-primary: #1c73d5;
$alert-warning-bg: #F9F0DA;
$alert-warning-border: #CFB5A2;
$alert-warning-text: #AE6F42;

/* Navbar colors */
$navbar-default-bg: $site-main-color;
$navbar-default-link-color: #FFF;
$navbar-default-brand-color: $navbar-default-link-color;
$navbar-default-brand-hover-color: $navbar-default-link-color;
$navbar-default-link-active-color: #823602;
$navbar-default-link-hover-color: $navbar-default-link-active-color;
$navbar-default-color: #FFF;

$navbar-height: 40px;
$footer-height: 60px;

$tooltip-bg: lighten(#000, 60%);

@import "compass";
@import "compass/reset";

@import "bootstrap";
@import "support/*";

@import "**/*";
//@import "registrations";
//@import "categories";
//@import "devise";
//@import "identities";
//@import "layout";
//@import "omniauth_callbacks";
//@import "scaffolds";
//@import "welcome";
//@import "training/disks";
