// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-categories {
  @extend .panel-default;
  $panel-main-color: #FFFAE5;
  $panel-header-color: #FEA;
  background-color: $panel-main-color;
  @include border-bottom-radius(0);

  .panel-heading {
    background-color: $panel-header-color;
    color: #D44D17;
    h2 {
      @extend .panel-title;
    }
  }

  .panel-footer {
    background-color: $panel-main-color;

  }

  .footer {
    @extend .row;
    @extend .text-center;
    border-top: 1px solid $panel-inner-border;
    margin: 0px;
    a {
      @extend .col-xs-6;
      padding: 10px 0;
      border-right: 1px solid $panel-inner-border;
      &:last-child {
        border-right: none;
      }
      &:hover {
        background-color: $panel-header-color;
      }
    }
  }
}
