// Place all the styles related to the feedback controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.feedback {
  $feedback-label: 2;
  $feedback-input: 10;
  & > .form-group {
    & > .control-label {
      @include make-sm-column($feedback-label);
    }
    & > .form-wrapper {
      @include make-sm-column($feedback-input);
    }
  }

  .submit-button {
    @include make-sm-column-offset($feedback-label);
    @include make-sm-column($feedback-input);
  }

  #feedback_message {
    min-width: 100%;
    max-width: 100%;
  }
}
