// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.faq {
  h2 {
    font-size: 1.5em;
  }
  h3 {
    @include reset-font;
    @extend a;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  & > :not(h1):not(h2):not(h3) {
    margin-left: 20px;
    border-left: 3px solid $site-main-color;
    padding-left: 5px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  ol, ul {
    padding-left: 30px !important;
  }
}

.faq-epilog {
  h1 {
    font-size: 1.3em;
    margin-top: 30px;
    font-weight: normal;
    color: darken($site-main-color, 25%);
  }
}
