// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icons-payment-card, .icons-payment-yamoney {
  @extend .glyphicon;
  width: 62px;
  height: 16px;
}

#points-income {
  @extend .form-horizontal;
  .form-group {
    & > label {
      @extend .col-sm-2;
      @extend .control-label;
    }

    & > .field {
      @extend .col-sm-6;
    }
  }
}

#payments-joyride {
  #PaymentHints {
    display: none;
  }

  #payments-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    z-index: 10;
    display: none;
  }
}
