// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar-block {
  padding-bottom: 10px;

  $avatar-size: 100px;

  .avatar-img {
    width: $avatar-size;
    max-height: $avatar-size;
//    text-align: center;
//    line-height: $avatar-size - 4;
    float: left;
  }

  img {
    max-width: $avatar-size;
    max-height: $avatar-size;
  }
}

.auth-form {
  @include make-md-column(8);
  @include make-md-column-offset(2);
}

.connect-providers {
  @import 'compass/css3/filter';
  margin-left: -$grid-gutter-width/2;
  >li {
    @include make-lg-column(2);
    @include make-md-column(2);
    @include make-sm-column(2);
    @include make-xs-column(4);
    text-align: center;
    max-width: 100px;
    img {
      width: 100%;
      @include filter(grayscale(100%))
    }
    a:hover img{
      @include filter(grayscale(0%))
    }
  }
}

.registration-links {
  margin-top: 10px;

  .social-links-block {
    margin-top: 20px;
  }
}

