- title 'Категории'

h1 Тесты 1С Профессионал - онлайн подготовка

- unless @categories.empty?
  .row
    - @categories.each do |category|
      .col-md-6
        .category-line.panel.panel-categories
          .panel-heading
            h2 #{category.name}
          .panel-body
            = category.description
          .footer
            = link_to 'По дискам', category_disks_path(category)
            = link_to 'По вопросам', category_questions_path(category)
      div class="#{cycle('', 'clearfix', name: 'category-clearfix')}"

  #categories-seo
    h2 1С тесты онлайн
    p В каждой категории собрано большое количество тестов по 1С для подготовки к тестированию 1С:Профессионал. Тесты 1С представляют собой группы по 14 закрытых вопросов, то есть таких, на которые нужно выбрать один ответ из нескольких предложенных вариантов. Тест 1С считается пройденным, если дано не менее 12 правильных ответов.
    p 1С разделяет тесты на несколько групп по областям знаний. На данный момент на сервисе онлайн подготовки к тестам 1С представлены наиболее популярные группы, получение сертфиката по которым дает много преимуществ для Вас. Успешная сдача тестов 1С по платформе, например, позволит Вам подтвердить свои знания основ платформы и откроет двери для сдачи экзамена 1С:Специалист. Тесты 1С по Бухгалтерии предприятия очень полезны для бухгалтера.

- else
  p Что-то ничего еще не загрузили...