- title @category.name

h1 = @category.name

- if admin?
  .admin-action = link_to 'Редактировать категорию', edit_admin_category_path(@category)

p = @category.description

p = @category.full_description

p Варианты подготовки к тестированию:

.list-group
  a.list-group-item href="#{category_disks_path(@category)}"
    h4.list-group-item-heading
      ' По дискам
    p.list-group-item-text
      | Классический вариант тестирования - вопросы сгруппированы по дискам ИТС, поставляемым фирмой 1С.
      | В каждом диске собрано 14 вопросов, история прохождения тестирования собирается по дискам.
  a.list-group-item href="#{category_questions_path(@category)}"
    h4.list-group-item-heading
      ' По вопросам
      span.label.label-info Новый
    p.list-group-item-text
      | Новый вариант тестирования - по всем вопросам выбранного раздела. Вы можете отбирать еще не изученные вопросы,
        вопросы, которые Вы начали изучать и полностью освоенные вопросы.
