p Привет, #{@resource.email}

p Кто-то запросил ссылку на смену вашего пароля. Вы можете сделать это по следующей ссылке:

p = link_to 'Сменить мой пароль', edit_password_url(@resource, :reset_password_token => @token)

p Если вы не запрашивали эту ссылку, просто проигнорируйте это письмо.
p Ваш пароль не будет изменен, пока вы не перейдете по этой ссылке и не установите новый пароль.
