.points-area {
  line-height: 30px;

  .points-info, .icons-coin {
    vertical-align: middle;
    height: icons-sprite-height(coin);
    width: icons-sprite-width(coin);
  }

  .icons-coin {
    @include tooltip-bg(#F8CF5B);
    @include tooltip-color(black);
    display: inline-block;
    margin-right: 5px;
  }
}
