h1
  | Вопрос №#{@question_view_info.question.id}
  span.pull-right == completion_icon_for @question_view_info.question
= render layout: 'training/shared/question_view', locals: {view_info: @question_view_info} do
  = link_to 'Следующий вопрос', question_path(@question_view_info.next_question, @question_view_info.params), \
    @question_view_info.options
  - if local_assigns[:show_balance] && show_balance
    = current_user_money(no_button: true, class: 'pull-right')
