h1
  | Вопрос №#{@question_view_info.question.id}
  span.pull-right == completion_icon_for @question_view_info.question

#question-error-explanation
  - if @user_answer.errors.any?
    ul
      - @user_answer.errors.full_message.each do |msg|
        li = msg

= render layout: 'training/shared/question_general', locals: {question: @question_view_info.question, no_disqus: true} do
  = semantic_form_for @user_answer, url: answer_category_question_path(@question_view_info.question.category, @question_view_info.question, \
      params: {filter: params[:filter]}), remote: @question_view_info.options[:remote], authenticity_token: true, method: :post do |f|
    = f.input :answer, as: :radio, collection: @question_view_info.question.answers, label_method: :text, member_label: :text, label: false
    .buttons
      = f.submit 'Ответить на вопрос', class: 'btn btn-primary', id: 'submit-button'
      /.icons-disqus-spinner.hidden#submit-spinner
      - if local_assigns[:show_balance] && show_balance
        = current_user_money(no_button: true, class: 'pull-right')