.col-md-4
  .question-instance id="q-#{question.id}" data-question="#{question.id}"
    p = link_to question.text.truncate(100), category_question_path(question.category, question, \
      params: {filter: params[:filter]}), class: 'question-link', remote: true
    .question-info
      span.last-answer class="#{'invisible' unless question.last_answered}"
        ' Последний ответ:
        span.answered-date
          = question.last_answered.strftime('%d.%m.%Y') if question.last_answered
      == completion_icon_for question, 'pull-right'
      .clearfix
div class="#{cycle('', '', 'clearfix', name: 'questions-clearfix')}"
