(function() {
    $('#question-modal .modal-body').html("<%= j render('layouts/adsense_top') %><%=j(render(partial: 'training/questions/question_view', locals: {show_balance: true}))%>");
    $('#personal-area .points-info').html($('#question-modal .points-info').html());

    var $listItemCompletion = $("#q-<%= @question.id %> .completion");
    if($listItemCompletion[0]) {
        $listItemCompletion[0].className = $listItemCompletion[0].className.replace(/\s?icons-completion-\S+\s?/g, ' ');
        $listItemCompletion.addClass('<%= completion_class_for(@question) %>');
    }

    var $lastAnswer = $("#q-<%= @question.id %> .last-answer");
    $lastAnswer.find('.answered-date').html('<%= @question.last_answered.strftime('%d.%m.%Y') %>')
    $lastAnswer.removeClass('invisible');

    var hash = "#!/<%= @question.id %>/view";
    CountersInteraction.hit(hash);

})();
