- title "#{@category.name} - вопросы"

.row.js-only#questions-list-header
  .col-md-6.col-md-push-6
    .btn-group.pull-right#questions-filter
      button.btn.btn-default.active#filter-all type="button" Все
      button.btn.btn-default#filter-new data-filter="new" type="button" Новые
      button.btn.btn-default#filter-learning data-filter="learning" type="button" На изучении
      button.btn.btn-default#filter-learned data-filter="learned" type="button" Изученные
      /button.btn.btn-default#filter-starred data-filter="starred" type="button" Помеченные

#question-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
        | &nbsp;
        #question-header
      .modal-body
      /.modal-footer
        button.btn.btn-primary type="button" data-dismiss="modal" Exit

#questions-list
  = render 'questions_page'
  = paginate @questions
