(function(){
    $('#question-modal .modal-body').html('<%= j render('layouts/adsense_top') %><%= j render('training/questions/question_test', show_balance: true) %>');
    var hash = "#!/<%= @question.id %>";
    window.location.hash = hash;
    CountersInteraction.hit(hash);
})();
