- title 'Форма обратной связи'

.row
  markdown:
    # Форма обратной связи

    Если у Вас возникли вопросы по работе сервиса, Вы можете написать нам на почту. Заполните все поля в форме
    ниже, и мы обязательно свяжемся с Вами.

    Если Вы хотите сделать предложение по улучшению сервиса, то лучше воспользоваться кнопкой в левой части сайта
    ("Есть идеи?") или обратиться по адресу [support.1c-test.ru](http://support.1c-test.ru).

.row
  = semantic_form_for(@feedback, url: feedback_path, html: { class: 'form-horizontal', role: 'form' }) do |f|
    = f.input :name
    = f.input :email
    = f.input :subject
    = f.input :message, as: :text, input_html: { rows: 5 }
    .hidden
      = f.input :nickname, hint: 'Не заполняйте это поле'

    .form-group: .submit-button
      = f.submit 'Отправить', class: 'btn btn-primary'
