<% unless local_assigns[:no_ads] || Rails.env.test? %>
<div id='adsense'>
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <ins class="adsbygoogle"
       id="adsbygoogle-1c-test"
       style="display:inline-block;width:468px;height:60px"
       data-ad-client="ca-pub-9068766447468997"
       data-ad-slot="3522642861"></ins>
  <script>
      var insElement = document.getElementById('adsbygoogle-1c-test');
      if (window.innerWidth >= 800) {
          insElement.setAttribute("data-ad-slot", "5697380063");
          insElement.style.width="728px";
          insElement.style.height="90px";
      } else if (window.innerWidth < 400) {
          insElement.setAttribute("data-ad-slot", "9569176465");
          insElement.style.width="320px";
          insElement.style.height="50px";
      }
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<% end %>
