coffee:
  class @CountersInteraction
    counters = []

    @addCounter = (counter) ->
      counters.push counter

    @hit = (url, title = null, referer = null) ->
      (try counter.hit(url, title, referer); catch e then console.log("Error while handling #{counter}: #{e}");) for counter in counters
