<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    var yaParams = {'user': '<%= current_user ? current_user.full_name : 'Guest' %>'};
</script>

<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter24116494 = new Ya.Metrika({id:24116494,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,params:window.yaParams||{ }});
                w.yaCounter24116494.hit('<%= request.original_url %>');
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24116494" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  var yaCounter = function() {};
  yaCounter.hit = function(url, title, referer) { window.yaCounter24116494.hit(url, title, referer); };
  CountersInteraction.addCounter(yaCounter);
</script>

<!-- GoogleAnalytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-24182259-6', '1c-test.ru');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

</script>
<!-- /GoogleAnalytics -->

<script>
  var gaCounter = function() {};
  gaCounter.hit = function(url, title, referer) { window.ga('send', 'pageview', url); };
  CountersInteraction.addCounter(gaCounter);
</script>
