/! Fixed navbar
.navbar.navbar-default role="navigation"
  .container
    .navbar-header
      button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button"
        span.sr-only Развернуть/свернуть меню
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.pull-left href=root_path title="Тестирование 1С:Профессионал"
        = image_tag('logo_60_40.png', id: 'logo-img')
      a.navbar-brand href=root_path
        span.visible-inline-lg.visible-inline-md
          | Тестирование
          span.badge-rc RC
    .navbar-collapse.collapse
      = render_navigation
      p.navbar-text.navbar-right
        - if signed_in?
          | Вы вошли как&nbsp;
          strong= link_to current_user.full_name, edit_user_registration_path, :class => ''
          | .&nbsp;
          = link_to "Выйти", destroy_user_session_path, :class => 'navbar-link'
        - else
          = link_to "Зарегистрироваться", new_user_registration_path, :class => 'navbar-login-link'
          | &nbsp;|&nbsp;
          = link_to "Войти", new_user_session_path, :class => 'navbar-login-link'
    /! /.nav-collapse
