- require 'rss'
doctype html
html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml"
  head
    = csrf_meta_tags
    title
      = content_for?(:title) ? yield(:title) + ' | ' : ''
      | Онлайн подготовка к тестированию 1С:Профессионал

    meta content="width=device-width, initial-scale=1.0" name="viewport"
    link href="http://faviconist.com/icons/20e90d1dc37692cbd385e45b50a4d415/favicon.ico" rel="shortcut icon"
    = favicon_link_tag 'apple-touch-icon-57x57.png', rel: 'apple-touch-icon', type: 'image/png'
    = favicon_link_tag 'apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72'
    = favicon_link_tag 'apple-touch-icon-144x144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, async: (!Rails.env.development? && !Rails.env.test?)
    = csrf_meta_tags
    /! HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    /! WARNING: Respond.js doesn't work if you view the page via file://
    /![if lt IE 9]
      | <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      | <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

  body.no-js
    = render 'layouts/counters_interaction'
    == render 'layouts/counters'
    #wrap
      = render 'layouts/top_navigation'
      .container
        .row
          /.col-md-12
          .col-md-9
            .hidden-xs = render_breadcrumbs builder: ::BootstrapBreadcrumbsBuilder
            .starter-template
              - unless flash.empty?
                - flash.each do |name, msg|
                  - if msg.present?
                    div class="alert alert-#{flash_class(name)} alert-dismissable"
                      button.close type="button" data-dismiss="alert" aria-hidden="true" &times;
                      = msg

              == render 'layouts/adsense_top', no_ads: local_assigns[:no_ads]

              = yield
          .col-md-3.hidden-sm.hidden-xs
            - if signed_in?
              #personal-area
                == current_user_money
            #recent-comments
              h4 Последние комментарии
              div
                span.icons-disqus-spinner

    #footer
      .footer-nav role="navigation"
        .container
          = render_navigation context: :footer
      .footer-credits
        p.credit
          span.nowrap.socials
            a.icons-vk-small href="http://vk.com/1c_prof" rel="nofollow" target="_blank"
            a.icons-twitter-small href="https://twitter.com/1c_test" rel="nofollow" target="_blank"
          span.nowrap.copyright
            | &nbsp;&copy; 2012-#{Time.now.year}&nbsp;
            a href=(root_url) Тестирование 1С Профессионал

    |
      <script type="text/javascript">
          var reformalOptions = {
              project_id: 83442,
              project_host: "support.1c-test.ru",
              tab_orientation: "left",
              tab_indent: "50%",
              tab_bg_color: "#f9c700",
              tab_border_color: "#FFFFFF",
              tab_image_url: "http://tab.reformal.ru/0JXRgdGC0Ywg0LjQtNC10Lg%252F/FFFFFF/c2c31794c81c9f99fd1245c54bb3fd65/left/1/tab.png",
              tab_border_width: 2
          };
          var script = document.createElement('script');
          script.type = 'text/javascript'; script.async = true;
          script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
          document.getElementsByTagName('head')[0].appendChild(script);
      </script><noscript><a href="http://reformal.ru" rel="nofollow"><img src="http://media.reformal.ru/reformal.png" alt="Обсуждение проекта 1c-test.ru" /></a><a href="http://1c-test.reformal.ru" rel="nofollow">Есть идеи?</a></noscript>
